@import "tailwindcss";

:root {
  /* Max Width */
  --max-width-xx-large: 80rem;
  --max-width-x-large: 64rem;
  --max-width-large: 48rem;
  --max-width-medium: 30rem;
  --max-width-small: 20rem;
  --max-width-x-small: 16rem;
  --max-width-xx-small: 12rem;
}

@theme {
  /* Colors */
  --color-*: initial;
  --color-default-clr: oklch(1 0 0);
  --color-primary-clr: oklch(0 0 0);
  --color-border-default-clr: var(--color-primary-clr);
  --color-border-inversed-clr: oklch(0.17 0 0 / 10%);
  --color-text-default-clr: var(--color-primary-clr);
  --color-text-inversed-clr: var(--color-default-clr);
  --color-text-muted-clr: oklch(0.17 0 0 / 60%);

  /* Font Family */
  --font-*: initial;
  --font-general-sans: var(--font-general-sans);

  /* Font Size */
  --text-*: initial;
  --text-fs-heading-x-large: clamp(4rem, 1.8667rem + 10.6667vw, 12rem);
  --text-fs-heading-large: clamp(2.5rem, 1.0333rem + 7.3333vw, 8rem);
  --text-fs-heading-medium: clamp(2.5rem, 1.5667rem + 4.6667vw, 6rem);
  --text-fs-heading-1: clamp(2.5rem, 2.1rem + 2vw, 4rem);
  --text-fs-heading-2: clamp(2rem, 1.7333rem + 1.3333vw, 3rem);
  --text-fs-heading-3: clamp(1.5rem, 1.3667rem + 0.6667vw, 2rem);
  --text-fs-heading-4: clamp(1.25rem, 1.1833rem + 0.3333vw, 1.5rem);
  --text-fs-heading-5: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
  --text-fs-heading-6: clamp(1rem, 1rem + 0vw, 1rem);

  --text-fs-text-default: clamp(0.875rem, 0.8417rem + 0.1667vw, 1rem);
  --text-fs-text-large: 1.25rem;
  --text-fs-text-medium: 1.125rem;
  --text-fs-text-regular: 1rem;
  --text-fs-text-small: 0.875rem;
  --text-fs-text-tiny: 0.75rem;

  --text-fs-paragraph: var(--text-fs-text-default);
  --text-fs-link: var(--text-fs-text-default);
  --text-fs-quote-large: clamp(1.75rem, 1.4167rem + 1.6667vw, 3rem);
  --text-fs-quote: var(--text-fs-text-medium);

  /* Font Weight */
  --font-weight-*: initial;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;

  /* Spacing */
  --spacing-tiny: 0.125rem;
  --spacing-xx-small: 0.25rem;
  --spacing-x-small: 0.5rem;
  --spacing-small: 1rem;
  --spacing-medium: 1.25rem;
  --spacing-large: 1.5rem;
  --spacing-x-large: 2rem;
  --spacing-xx-large: 3rem;
  --spacing-huge: 3.5rem;
  --spacing-x-huge: 4rem;
  --spacing-xx-huge: 4.5rem;

  /* Container */
  --container-large: 95rem;
  --container-medium: 64rem;
  --container-small: 48rem;
}

@layer base {
  body {
    @apply bg-default-clr text-text-default-clr text-fs-text-default font-general-sans font-regular overflow-x-hidden;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-semi-bold;
  }
}

@layer utilities {
  .heading-x-large {
    @apply text-fs-heading-x-large font-semi-bold leading-[100%];
  }

  .heading-large {
    @apply text-fs-heading-large font-semi-bold;
  }

  .heading-medium {
    @apply text-fs-heading-medium font-semi-bold;
  }

  .heading-1 {
    @apply text-fs-heading-1 font-semi-bold;
  }

  .heading-2 {
    @apply text-fs-heading-2;
  }

  .heading-3 {
    @apply text-fs-heading-3;
  }

  .heading-4 {
    @apply text-fs-heading-4;
  }

  .heading-5 {
    @apply text-fs-heading-5;
  }

  .heading-6 {
    @apply text-fs-heading-6;
  }

  .text-large {
    @apply text-fs-text-large;
  }

  .text-medium {
    @apply text-fs-text-medium;
  }

  .text-regular {
    @apply text-fs-text-regular;
  }

  .text-small {
    @apply text-fs-text-small;
  }

  .text-tiny {
    @apply text-fs-text-tiny;
  }

  .text-italic {
    @apply text-fs-paragraph italic;
  }

  .text-link {
    @apply text-fs-paragraph underline;
  }

  .blockquote-large {
    @apply text-fs-quote-large font-semi-bold leading-[120%] p-xx-large pr-0 border-b border-t border-border-default-clr;
  }
}

@layer components {
  .form-input {
    @apply w-full text-fs-paragraph px-4 py-2 bg-transparent border border-border-inversed-clr rounded-none focus-visible:rounded-none focus-within:rounded-none focus:rounded-none focus-visible:border-primary-clr focus-within:border-primary-clr focus:border-primary-clr focus-within:outline-none focus:outline-none focus-visible:outline-none;
  }

  .form-textarea {
    @apply w-full text-fs-paragraph px-4 py-2 bg-transparent border border-border-inversed-clr rounded-none focus-visible:rounded-none focus-within:rounded-none focus:rounded-none focus-visible:border-primary-clr focus-within:border-primary-clr focus:border-primary-clr focus-within:outline-none focus:outline-none focus-visible:outline-none;
  }

  .form-select {
    @apply w-full text-fs-paragraph px-4 py-2 bg-transparent border border-border-inversed-clr rounded-none focus-visible:rounded-none focus-within:rounded-none focus:rounded-none focus-visible:border-primary-clr focus-within:border-primary-clr focus:border-primary-clr focus-within:outline-none focus:outline-none focus-visible:outline-none;
  }
}

.marquee-fade-out-horizontal {
  mask-image: linear-gradient(
    to right,
    transparent,
    var(--color-primary-clr) 1.5rem,
    var(--color-primary-clr) calc(100% - 1.5rem),
    transparent
  );
}

.marquee-text-track {
  animation: marquee-move-text var(--speed, 25s) linear infinite
    var(--direction, forwards);
}

@keyframes marquee-move-text {
  to {
    transform: translateX(-50%);
  }
}
