@import "tailwindcss";

:root {
  /* Max Width */
  --max-width-xx-large: 80rem;
  --max-width-x-large: 64rem;
  --max-width-large: 48rem;
  --max-width-medium: 30rem;
  --max-width-small: 20rem;
  --max-width-x-small: 16rem;
  --max-width-xx-small: 12rem;
}

@theme {
  /* Colors */
  --color-*: initial;
  --color-default-clr: oklch(1 0 0);
  --color-primary-clr: oklch(0 0 0);
  --color-border-default-clr: var(--color-primary-clr);
  --color-border-inversed-clr: oklch(0.17 0 0 / 10%);
  --color-text-default-clr: var(--color-primary-clr);
  --color-text-inversed-clr: var(--color-default-clr);
  --color-text-muted-clr: oklch(0.17 0 0 / 60%);

  /* Font Family */
  --font-*: initial;
  --font-general-sans: var(--font-general-sans);

  /* Font Size */
  --text-*: initial;
  --text-fs-heading-x-large: clamp(4rem, 1.8667rem + 10.6667vw, 12rem);
  --text-fs-heading-large: clamp(2.5rem, 1.0333rem + 7.3333vw, 8rem);
  --text-fs-heading-medium: clamp(2.5rem, 1.5667rem + 4.6667vw, 6rem);
  --text-fs-heading-1: clamp(2.5rem, 2.1rem + 2vw, 4rem);
  --text-fs-heading-2: clamp(2rem, 1.7333rem + 1.3333vw, 3rem);
  --text-fs-heading-3: clamp(1.5rem, 1.3667rem + 0.6667vw, 2rem);
  --text-fs-heading-4: clamp(1.25rem, 1.1833rem + 0.3333vw, 1.5rem);
  --text-fs-heading-5: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
  --text-fs-heading-6: clamp(1rem, 1rem + 0vw, 1rem);

  --text-fs-text-default: clamp(0.875rem, 0.8417rem + 0.1667vw, 1rem);
  --text-fs-text-large: 1.25rem;
  --text-fs-text-medium: 1.125rem;
  --text-fs-text-regular: 1rem;
  --text-fs-text-small: 0.875rem;
  --text-fs-text-tiny: 0.75rem;

  /* line height */
  --leading-*: initial;
  --leading-heading-x-large: 100%;
  --leading-heading-large: 100%;
  --leading-heading-medium: 100%;
  --leading-heading-1: 4.375rem;
  --leading-heading-2: 3.625rem;
  --leading-heading-3: 2.5rem;
  --leading-heading-4: 2.125rem;
  --leading-heading-5: 1.75rem;
  --leading-heading-6: 1.5rem;
  --leading-text-default: 1.75rem;
  --leading-text-large: 2.125rem;
  --leading-text-medium: 2rem;
  --leading-text-regular: 1.75rem;
  --leading-text-small: 1.5rem;
  --leading-text-tiny: 1.25rem;
  --leading-quote-large: 3.625rem;

  --text-fs-paragraph: var(--text-fs-text-default);
  --text-fs-link: var(--text-fs-text-default);
  --text-fs-quote-large: clamp(1.75rem, 1.4167rem + 1.6667vw, 3rem);
  --text-fs-quote: var(--text-fs-text-medium);

  /* Font Weight */
  --font-weight-*: initial;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;

  /* Spacing */
  --spacing-tiny: 0.125rem;
  --spacing-xx-small: 0.25rem;
  --spacing-x-small: 0.5rem;
  --spacing-small: 1rem;
  --spacing-medium: 1.25rem;
  --spacing-large: 1.5rem;
  --spacing-x-large: 2rem;
  --spacing-xx-large: 3rem;
  --spacing-huge: 3.5rem;
  --spacing-x-huge: 4rem;
  --spacing-xx-huge: 4.5rem;

  /* Container */
  --container-large: 95rem;
  --container-medium: 64rem;
  --container-small: 48rem;

  /* Animation */
  --animate-*: initial;
  --animate-marquee-move-text: marquee-move-text 10s linear infinite forwards;

  /* Keyframes */
  @keyframes marquee-move-text {
    to {
      transform: translateX(-50%);
    }
  }
}

@utility container {
  @apply px-6 mx-auto;

  @variant md {
    @apply max-w-[var(--container-small)] px-8;
  }

  @variant lg {
    @apply max-w-[var(--container-medium)] px-0;
  }

  @variant xl {
    @apply max-w-[var(--container-medium)] px-0;
  }

  @variant 2xl {
    @apply max-w-[var(--container-large)] px-0;
  }
}

@layer base {
  body {
    @apply bg-default-clr text-text-default-clr text-fs-text-default leading-text-default font-general-sans font-regular overflow-x-hidden;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-semi-bold;
  }
}

@layer utilities {
  .heading-x-large {
    @apply text-fs-heading-x-large font-semi-bold leading-heading-x-large;
  }

  .heading-large {
    @apply text-fs-heading-large font-semi-bold leading-heading-large;
  }

  .heading-medium {
    @apply text-fs-heading-medium font-semi-bold leading-heading-medium;
  }

  .heading-1 {
    @apply text-fs-heading-1 font-semi-bold leading-heading-1;
  }

  .heading-2 {
    @apply text-fs-heading-2 leading-heading-2;
  }

  .heading-3 {
    @apply text-fs-heading-3 leading-heading-3;
  }

  .heading-4 {
    @apply text-fs-heading-4 leading-heading-4;
  }

  .heading-5 {
    @apply text-fs-heading-5 leading-heading-5;
  }

  .heading-6 {
    @apply text-fs-heading-6 leading-heading-6;
  }

  .text-large {
    @apply text-fs-text-large leading-text-large;
  }

  .text-medium {
    @apply text-fs-text-medium leading-text-medium;
  }

  .text-regular {
    @apply text-fs-text-regular leading-text-regular;
  }

  .text-small {
    @apply text-fs-text-small leading-text-small;
  }

  .text-tiny {
    @apply text-fs-text-tiny leading-text-tiny;
  }

  .text-italic {
    @apply text-fs-paragraph italic leading-text-default;
  }

  .text-link {
    @apply text-fs-paragraph underline leading-text-default;
  }

  .blockquote-large {
    @apply text-fs-quote-large font-semi-bold leading-quote-large p-xx-large pr-0 border-b border-t border-border-default-clr;
  }

  .marquee-fade-out-horizontal {
    mask-image: linear-gradient(
      to right,
      transparent,
      var(--color-primary-clr) 1.5rem,
      var(--color-primary-clr) calc(100% - 1.5rem),
      transparent
    );
  }

  .marquee-text-track {
    @apply animate-marquee-move-text;
  }

  #mobile-navigation-link:nth-child(3) {
    @apply border-none;
  }
}

@layer components {
  .visually-hidden {
    display: inline-block;
    position: absolute;

    height: 0.0625rem;
    width: 0.0625rem;

    border: 0;
    clip: rect(0 0 0 0);

    margin: -0.0625rem;
    padding: 0;

    overflow: hidden;
  }

  .form-input {
    @apply w-full text-fs-paragraph px-4 py-2 bg-transparent border border-border-inversed-clr rounded-none focus-visible:rounded-none focus-within:rounded-none focus:rounded-none focus-visible:border-primary-clr focus-within:border-primary-clr focus:border-primary-clr focus-within:outline-none focus:outline-none focus-visible:outline-none;
  }

  .form-textarea {
    @apply w-full text-fs-paragraph px-4 py-2 bg-transparent border border-border-inversed-clr rounded-none focus-visible:rounded-none focus-within:rounded-none focus:rounded-none focus-visible:border-primary-clr focus-within:border-primary-clr focus:border-primary-clr focus-within:outline-none focus:outline-none focus-visible:outline-none;
  }

  .form-select {
    @apply w-full text-fs-paragraph px-4 py-2 bg-transparent border border-border-inversed-clr rounded-none focus-visible:rounded-none focus-within:rounded-none focus:rounded-none focus-visible:border-primary-clr focus-within:border-primary-clr focus:border-primary-clr focus-within:outline-none focus:outline-none focus-visible:outline-none;
  }
}
